@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


:root, html {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #a2d6f9;
}

header {
  text-align: center;
  background-color: #ffc600;
  padding: 3em;
}

header h1 {
  font-size: 3rem;
  background-color: white;
  padding: 0.5em;
}

main {
  background-color: #ffdd32;
  width: 80vw;
  margin: 2em auto;
}

.descriptions-all {
  padding: 2em;
}

.description {
  font-size: 1.5rem;
  text-align: center;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

.buttons, .play-again {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  cursor: pointer;
  font-size: 7rem;
  padding: .1em;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 10%;
  border: none;
  background-color: white;
}

.result-title {
  text-align: center;
}

.scores {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#player-choice, #computer-choice {
  text-transform: capitalize;
}

.player-score, .computer-score {
  /* border: 5px solid white; */
  text-align: center;
  background-color: #a2d6f9;
  padding: 0 1em 0 .5em;
  margin-bottom: 2em;
  margin-top: 2em;
  width: 30%;
  border-radius: 10%;
  
}

.player-score p,
.computer-score p {
  font-size: 1.2rem;
}

#computer-points, #player-points {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 0;
}

#play-again {
  font-size: 3rem;
  padding: .3em;
  border-radius: 15px;
  font-family: 'Playfair Display',
  serif;
  font-weight: bold;
  margin-bottom: 1em;
  color: white;
  background-color: #00296b;
}